<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/jar/server/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="ProjetoSD" />
      <element id="library" level="project" name="async-http-client-1.9.31" />
      <element id="library" level="project" name="json_simple-1.1" />
      <element id="library" level="project" name="lib1" />
      <element id="library" level="project" name="slf4j-api-1.7.13" />
      <element id="library" level="project" name="websocket-api" />
      <element id="javaee-facet-resources" facet="ProjetoSD/web/Web" />
    </root>
  </artifact>
</component>